header{
    position: relative;
    font-style:oblique;
    color:#8B0000;
    font-size: 30px;
    display: flex;
justify-content: center;
margin-top: -40px;
}
 
.vine-1{
    position: relative;
    margin-top: 50px;
    margin-left: 350px;
    width: 370px;
}
.vine-2{
    position: relative;
    margin-top: 50px;
    margin-left: 350px;
    width: 370px;
}
.cheeze{
    position: relative;
    margin-top: 100px;
    margin-left: 350px;
    width: 370px;
}

.churchxela{
    position: relative;
    margin-top: 100px;
    margin-left: 350px;
    width: 370px;
}